@import 'jeet'

html
	box-sizing: border-box
*, *:before, *:after
	box-sizing: inherit

body
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #055058
a, h1, h2, h3, h4, h5, h6
	color: #055058
table
	th
		background-color: #055058
		color: #fff
h1
	text-align: center
	color: #fff
	background-color: #055058
	margin: 0
	padding: 1em

h2
	.pure-button
		padding: .1em .5em

a.pure-button-primary,
.pure-button-primary
	background-color: #055058
.button-success,
.button-error,
.button-warning,
.button-secondary
	color: white

.button-success
	background-color: rgb(28, 184, 65)

.button-error
	background-color: rgb(202, 60, 60)

.button-warning
	background-color: rgb(223, 117, 20)

.button-secondary
	background-color: rgb(66, 184, 221)

.active-spreadsheets
	table
		width: 100%
.half
	padding: 0 2em 2em
	col(1/2)
.job-list
	padding: 0 2em 2em
	col(1)
