@import 'jeet'

html
	box-sizing: border-box
*, *:before, *:after
	box-sizing: inherit

body
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
h1
	text-align: center

.active-spreadsheets
	table
		width: 100%
.half
	padding: 2em
	col(1/2)
